/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#__next {
  height: 100%;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  background: #000;
  color: #fff;
}

/* TikTok feed scroll */
.feed {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.snap-list {
  display: flex;
  flex-direction: column;
}

.snap-item {
  flex: 0 0 100vh; /* each video takes full screen */
  scroll-snap-align: start;
  position: relative;
}
